# Keil MDK 编译输出和中间文件
**/Objects/
**/Listings/
**/DebugConfig/
*.o
*.d
*.crf
*.axf
*.htm
*.dep
*.lnp
*build_log.htm
*.map
*.lst
*.elf
*.hex
*.bin

# Keil 用户界面配置文件（包含个人布局和断点配置，通常不提交）
*.uvguix.*

# VS Code / EIDE 临时和编译文件
**/.cmsis/
**/.eide/
**/build/
.vscode/ipch/
.vscode/.su/
